<ion-header>
  <ion-toolbar>
    <ion-title>Contactos</ion-title>
    <ion-button (click)="logout()" fill="clear" slot="end" >
      <ion-icon  name="log-out-outline"></ion-icon>   
     </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search contact" animated inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>

  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let contact of contacts | filtro:textoBuscar" detail
                    [routerLink]="['/admin/detail',contact.id]">
          <ion-avatar slot="start">
            <img src="/assets/avatar.png" />
          </ion-avatar>
          <ion-label>{{contact.firstName}} <strong>{{contact.lastName}}</strong> </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink = "/admin/add">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
